.container {
  margin: 40px auto;
  background-color: white;
  box-shadow: 2px 5px 15px #888888;
  padding: 30px;
}


.v-student {
  padding: 0px 40px 100px 40px;
  margin-left: 20px;
  border-left: 1px solid black;
}



.table :where(thead, tfoot) :where(th, td) {
  background-color: #37CDBE !important;
  padding: 1rem;
}

.table-zebra tbody tr:nth-child(even) th,
.table-zebra tbody tr:nth-child(even) td {
  background-color: hsl(var(--b3, var(--b1)) / var(--tw-bg-opacity));
}

.pagination {
  margin: 30px 30px;
  display: flex;
  justify-content: end;
}

.add-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

hr {
  color: black;
  height: 5px;
}


.snb {
  background: url(https://www.color-hex.com/palettes/16033.png);
  overflow-x: hidden;
  scroll-behavior: none;

}